{% extends 'chat/base.html' %}
{% block title %}Login |{% endblock %}
{% block content %}
<div class="main-content">
    <h2 class="typing-effect">Log in to your account</h2>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="signup-form">
                <form method="post" action="{% url 'login-user' %}">
                    {% csrf_token %}
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                                <p style="background-color: red;">{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </form>
                <div class="already-account mt-3 text-center">
                    Don't have an account? <a href="{% url 'signuppage' %}">Create one</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
